/* Colors */
/* Font-family */
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "OpenSansRegular", sans-serif;
  color: #806b6b;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1, .h1 {
  font-size: 36px;
  font-family: "Cambria", serif;
  color: #77282a;
  font-weight: normal;
}

h2, .h2 {
  font-size: 30px;
  font-family: "Cambria", serif;
  font-weight: normal;
  margin: 10px 0;
  color: #77282a;
}

h3, .h3 {
  font-size: 17px;
  font-weight: normal;
}

h4, .h4 {
  font-size: 15px;
  font-weight: normal;
}

h5, .h5 {
  font-size: 13px;
}

a {
  color: #77282a;
}

a:hover {
  color: #bf9f60;
}

a:focus {
  color: #77282a;
}

a:active {
  color: #77282a;
}

a.reverse {
  color: #bf9f60;
}

a.reverse:hover {
  color: #77282a;
}

a.reverse:focus {
  color: #bf9f60;
}

a.reverse:active {
  color: #77282a;
}

.header__fixed {
  background-color: #f4f2ee;
  position: relative;
}

.header__fixed.clone {
  position: fixed;
  -webkit-transition: 0.5s top ease-in;
          transition: 0.5s top ease-in;
  top: -200px;
  width: 100%;
  z-index: 999;
  left: 0;
}

body.down .header__fixed.clone {
  top: 0;
  box-shadow: 3px 3px 10px #bbb;
}

.search__input {
  background-color: transparent;
  padding: 10px 0;
  border: none;
  line-height: 16px;
}

.search__input:focus {
  outline: none;
  background-color: #fff;
}

.header__fixed .search__input {
  margin: 5px 0;
  width: 223px;
  height: 36px;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
}

.search__button {
  width: 42px;
  height: 26px;
  position: absolute;
  top: 10px;
  right: 0px;
  border-left: 1px solid;
  color: #bf9f60;
  background-color: transparent;
  background-image: url(../img/sprite.png);
  vertical-align: bottom;
  display: inline-block;
  background-position: -97px -26px;
}

.search__button:hover {
  background-position: -97px -1px;
  color: #bf9f60;
}

.search__button:focus {
  outline: none;
}

.search__button.alone {
  right: 0px;
}

.fixed__search {
  float: left;
  position: relative;
}

.fixed__user-info {
  float: right;
  margin: 12px 0;
}

.user-info > div {
  display: inline-block;
  margin-left: 55px;
}

.icon {
  background-image: url(../img/sprite.png);
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.icon__user {
  background-position: -135px -1px;
}

.icon__scale {
  background-position: -79px -2px;
}

.icon__cart {
  background-position: -49px -2px;
}

.divide {
  margin: 0 10px;
  display: inline-block;
  color: #77282a;
}

.user-info a:hover {
  text-decoration: none;
}

.auth__login:hover .icon__user {
  background-position: -135px -27px;
}

.compare:hover .icon__scale {
  background-position: -79px -27px;
}

.cart:hover .icon__cart {
  background-position: -49px -27px;
}

.compare:hover .divide,
.cart:hover .divide {
  color: #bf9f60;
}

.menu__logo {
  float: left;
}

.menu__top,
.menu__bottom {
  display: inline-block;
  float: right;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  display: inline-block;
}

.menu__link:hover {
  text-decoration: none;
}

.top-menu__link {
  line-height: 52px;
  height: 52px;
  display: inline-block;
  border-bottom: 2px solid #eeebe6;
  padding: 0 13px;
  color: #806b6b;
  font-size: 15px;
  font-family: "Cambria", serif;
}

.top-menu__link:hover {
  color: #77282a;
  border-color: #77282a;
}

.menu__item:nth-of-type(1) .top-menu__link {
  padding-left: 0;
}

.menu__item:last-of-type .top-menu__link {
  padding-right: 0;
}

.menu__item {
  float: left;
  margin: 0;
  position: relative;
  padding: 0;
}

.menu__bottom .menu__item {
  width: 20%;
}

.menu__bottom .menu__item:nth-child(1) .menu__link {
  padding-left: 0;
}

.menu__bottom .menu__item:nth-child(3) .menu__link {
  padding-left: 10%;
}

.bot-menu__link {
  height: 116px;
  font-size: 15px;
  font-family: "OpenSansBold", sans-serif;
  padding-right: 22.5%;
  padding-left: 22.5%;
  padding-top: 31px;
}

.menu__bottom {
  padding-left: 7px;
  width: 74.3%;
}

.front-page {
  background-color: #f4f2ee;
  padding: 26px 0 29px;
}

.arrow {
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.bullets {
  position: absolute;
}

.bullets div, .bullets div:hover, .bullets .av {
  position: relative;
  /* size of bullet elment */
  width: 11px;
  height: 11px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
}

.bullets .av {
  background-color: #fff;
}

.slider .arrow {
  width: 18px;
  height: 30px;
}

.slider .arrow__right {
  background-position: -228px -6px;
}

.slider .arrow__left {
  background-position: -210px -6px;
}

.slider .arrow__left:hover {
  background-position: -171px -6px;
}

.slider .arrow__right:hover {
  background-position: -189px -6px;
}

.btn {
  text-transform: uppercase;
  padding: 0 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "OpenSansBold", sans-serif;
  color: #77282a;
  border: 2px solid #77282a;
  background-color: transparent;
  -webkit-transition: .2s linear;
          transition: .2s linear;
}

.btn:hover {
  background-color: #77282a;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.action {
  text-align: center;
  background-image: url(../img/background-rounds.jpg);
  padding: 20px;
}

.action__inner {
  border: 2px solid #fff;
}

.action__white {
  background-color: #fff;
  padding: 13px 30px 15px;
}

.white__title {
  color: #77282a;
  margin: 0 0 15px;
}

.action__decorate {
  color: #fff;
  padding-top: 9px;
}

.decorate__img {
  background-image: url(../img/sprite.png);
  width: 115px;
  height: 40px;
  margin: 0 auto;
  background-position: -134px -72px;
}

.decorate__title {
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
}

.decorate__descr {
  margin-bottom: 14px;
  margin-top: 0;
  font-family: "OpenSansSemiBold", sans-serif;
}

.slide__add-info {
  width: 100%;
  border-top: 3px solid #f4f2ee;
  border-bottom: 3px solid #bf9f60;
  background-color: #fff;
  padding: 15px 20px;
  height: 96px;
}

.slider__img {
  width: 314px !important;
  height: 201px !important;
}

.add-info__name {
  float: left;
  margin-bottom: 5px;
  width: 50%;
  line-height: 18px;
  font-family: "OpenSansSemiBold", sans-serif;
}

.add-info__name:hover {
  text-decoration: none;
  color: #bf9f60;
}

.add-info__weight {
  float: left;
  font-family: "OpenSansSemiBold", sans-serif;
  width: 100%;
}

.add-info__price {
  float: right;
  font-size: 26px;
  position: absolute;
  width: 100px;
  text-align: right;
  right: 25px;
  line-height: 26px;
  line-height: 45px;
}

.slider__link {
  background-color: rgba(151, 12, 48, 0.6);
  padding: 24px 23px 23px;
  font-size: 18px;
  font-family: "OpenSansSemiBold", sans-serif;
  text-align: center;
  line-height: 50px;
  height: 201px;
  width: 314px;
  display: block;
  opacity: 0;
}

.slider__link:hover {
  opacity: 1;
  text-decoration: none;
}

.more__hover {
  border: 2px solid #fff;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.cake_bg {
  background-image: url(../img/sprite.png);
  background-position: 0 -61px;
  width: 66px;
  height: 66px;
  margin: 22px auto 0;
}

.slider-wrap {
  margin-top: 30px;
}

.slider__white-bg .slide__add-info {
  background-color: #f4f2ee;
}

.front-content {
  margin-top: 30px;
  margin-bottom: 70px;
}

.panel {
  text-align: center;
}

.slider__title {
  display: inline-block;
}

.slider__title:hover {
  text-decoration: none;
}

.slider__title:hover h2 {
  color: #bf9f60;
}

.slider__title h2 {
  position: relative;
  z-index: 10;
}

.front-content .slider:nth-child(1) {
  margin-bottom: 10px;
}

.company-now__text {
  font-size: 15px;
}

.panel {
  border: 2px solid #77282a;
  padding: 25px 70px 43px;
}

.btn_panel {
  margin-top: 10px;
}

.panel__mark {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  background-image: url(../img/sprite.png);
  background-position: -73px -69px;
  bottom: -15px;
}

.news-compact__title {
  font-size: 16px;
  line-height: 20px;
  color: #bf9f60;
  font-family: "OpenSansSemiBold", sans-serif;
  text-decoration: underline;
}

.news-compact__title:hover {
  color: #77282a;
  text-decoration: underline;
}

.news-compact {
  border-bottom: 2px solid #d8d3cb;
  margin-bottom: 22px;
  position: relative;
}

.news-compact__mark {
  position: absolute;
  background-image: url(../img/sprite.png);
  width: 32px;
  height: 18px;
  background-position: -239px -45px;
  bottom: -6px;
  left: 20%;
  background-color: #fff;
}

.news-compact__text {
  margin-bottom: 20px;
}

.company-now__text {
  margin-top: 16px;
  margin-bottom: 32px;
}

.add-info__full-name {
  font-family: "OpenSansSemiBold", sans-serif;
  color: #77282a;
}

.add-info__full-name .icon__user {
  background-position: -139px -1px;
  margin-right: 3px;
}

.bullets_brown div, .bullets_brown div:hover, .bullets_brown .av {
  border: 2px solid #77282a;
}

.bullets_brown .av {
  background-color: #77282a;
}

.btn_testimonials {
  display: block;
  margin: 0 auto;
  padding: 0 80px;
}

.footer {
  padding: 40px 0 45px;
  background-image: url(../img/background-rounds.jpg);
}

.footer a {
  color: #eeebe6;
  font-size: 16px;
  font-family: "Cambria", serif;
}

.footer a:hover {
  color: #bf9f60;
}

.footer__category {
  border-bottom: 2px solid #eeebe6;
  padding-bottom: 15px;
  position: relative;
  width: 86%;
}

.footer__category .menu__item {
  display: block;
  width: 100%;
}

.menu__right {
  float: right;
  width: 50%;
  padding-left: 8%;
}

.menu__left {
  float: left;
  width: 50%;
}

.footer__info {
  margin-top: 10px;
  color: #bf9f60;
}

.footer__info p {
  margin: 5px 0;
}

.footer__info a {
  color: #bf9f60;
}

.footer__info a:hover {
  text-decoration: underline;
}

p.copyright {
  color: #eeebe6;
  margin-top: 10px;
}

.footer__menu .menu__item {
  display: block;
  width: 100%;
  margin: 1px 0;
}

.footer__menu .menu__item:nth-child(1) {
  margin-top: 0;
}

.footer__search {
  background-color: rgba(255, 255, 255, 0.4);
}

.footer__search .search__input {
  width: 100%;
  height: 58px;
  line-height: 20px;
  padding: 19px 17px;
  color: #77282a;
  border-radius: 0;
}

.footer__search .search__input::-webkit-input-placeholder {
  color: #77282a;
}

.footer__search .search__input:-moz-placeholder {
  color: #77282a;
}

.footer__search .search__input::-moz-placeholder {
  color: #77282a;
}

.footer__search .search__input:-ms-input-placeholder {
  color: #77282a;
}

.footer__search .search__button {
  border-color: #77282a;
  position: absolute;
  top: 16px;
  right: 4px;
  background-position: -97px -1px;
}

.footer__search .search__button:hover {
  background-position: -97px -26px;
}

.soc-icon {
  width: 37px;
  height: 37px;
  background-color: #fff;
  display: inline-block;
  margin-right: 10px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.soc-icon__vk {
  background-position: 12px 6px;
}

.soc-icon__vk:hover {
  background-position: 12px -19px;
}

.soc-icon__fb {
  background-position: -12px 9px;
}

.soc-icon__fb:hover {
  background-position: -12px -23px;
}

.footer__social {
  color: #eeebe6;
}

.footer__h2o {
  color: #eeebe6;
  margin-top: 13px;
}

.mark__white {
  position: absolute;
  width: 32px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: -281px -45px;
  bottom: -10px;
  left: 8%;
}

.copyright_mobile {
  text-align: center;
  color: #eeebe6;
}

.submenu {
  position: absolute;
  z-index: 10;
  display: none;
  background-color: #f4f2ee;
}

.submenu_bottom {
  border-top: 2px solid #bf9f60;
  top: 100px;
  margin-left: 34px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4);
  width: 440px;
}

.submenu_top {
  padding: 10px;
  border-bottom: 2px solid #f4f2ee;
  width: 100%;
}

.submenu_top .submenu__link {
  font-family: "Cambria", serif;
}

.submenu__image {
  float: right;
}

.submenu__list {
  float: left;
  width: 220px;
  padding-left: 20px;
  padding-top: 10px;
}

.submenu__item {
  font-size: 15px;
  font-family: "OpenSansBold", sans-serif;
}

.submenu_bottom .submenu__item {
  line-height: 30px;
}

.submenu__link:hover {
  text-decoration: none;
}

.mobile-menu__button {
  display: none;
  width: 30px;
  height: 26px;
  background-image: url(../img/sprite.png);
  background-position: -329px -6px;
}

.mobile-menu_bottom {
  display: none;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #77282a;
  text-align: left;
  color: #bf9f60;
}

.mobile-menu_bottom:active,
.mobile-menu_bottom:visited,
.mobile-menu_bottom:hover,
.mobile-menu_bottom:focus {
  color: #bf9f60;
  text-decoration: none;
}

.icon__arrow {
  background-position: 0 0;
  background-position: -283px -6px;
  height: 10px;
  float: right;
  margin-top: 9px;
}

.rotate .icon__arrow {
  background-position: -266px -6px;
}

.clone-menu {
  width: 100%;
  min-height: 100%;
  display: none;
  background-color: rgba(119, 40, 42, 0.9);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}

.clone-menu .menu__item {
  display: block;
  width: 100%;
  text-align: center;
}

.clone-menu .menu__item a {
  color: #fff;
}

.clone-menu .mobile-menu__title {
  display: block;
  text-align: center;
  font-size: 28px;
  font-family: "Cambria", serif;
  margin: 70px 0 15px;
  color: #bf9f60;
}

.clone-menu .mobile-menu__exit {
  display: block;
  position: absolute;
  height: 30px;
  width: 32px;
  top: 10px;
  right: 14px;
  background-image: url(../img/sprite.png);
  background-position: -285px -87px;
}

.mobile-menu__title {
  display: none;
}

.mobile-menu__exit {
  display: none;
}

.main-content_strip {
  border-top: 3px solid #77282a;
}

.breadcrumbs {
  margin: 21px 0 22px;
  color: #77282a;
}

.breadcrumbs__link {
  text-decoration: underline;
  color: #bf9f60;
}

.breadcrumbs__link:hover {
  text-decoration: none;
}

.breadcrumbs__divide {
  background-image: url(../img/sprite.png);
  height: 8px;
  display: inline-block;
  width: 10px;
  margin: 0 12px;
  background-position: -272px -22px;
}

.icon__back-arrow {
  background-position: -307px -6px;
  width: 8px;
  height: 13px;
  margin-right: 8px;
  vertical-align: initial;
  margin-top: 2px;
}

.btn_back {
  padding: 0 11px;
}

.btn_back:hover .icon__back-arrow {
  background-position: -315px -6px;
}

.item-title {
  display: inline-block;
  max-width: 58%;
}

.item-title h1 {
  display: inline-block;
  font-size: 28px;
  margin: 0;
  line-height: 34px;
  padding: 0;
}

.product-detail {
  margin-top: 25px;
}

.product-detail__compare {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  float: right;
  margin-right: 70px;
}

.product-detail__compare .compare__text {
  text-decoration: underline;
}

.product-detail__compare:hover {
  text-decoration: none;
}

.product-detail__compare:hover .compare__text {
  text-decoration: none;
}

.product-detail__main-price {
  font-size: 34px;
  color: #77282a;
  display: inline-block;
  float: right;
  line-height: 28px;
}

.panel_descr {
  text-align: left;
  padding: 10px 20px;
  margin-top: 25px;
}

.panel_descr-title {
  font-family: "Cambria", serif;
  color: #bf9f60;
  margin: 0;
  padding: 0;
}

.panel__mark_top {
  top: 52px;
}

.icon__small-trips {
  width: 13px;
  height: 10px;
  vertical-align: baseline;
  background-position: -287px -20px;
}

.certificate {
  text-decoration: underline;
}

.certificate:hover {
  text-decoration: none;
  color: #77282a;
}

.count__number {
  -moz-appearance: textfield;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #d5d0c8;
  width: 46px;
  height: 29px;
  text-indent: -3px;
  font-size: 15px;
  padding-top: 0;
  color: #77282a;
  text-align: center;
}

.count__number:focus {
  outline: none;
}

.count__number::-webkit-inner-spin-button {
  display: none;
}

.product-count {
  display: inline-block;
  margin-left: 20px;
  font-size: 0;
}

.btn_card {
  color: #bf9f60;
  float: right;
  border-color: #bf9f60;
}

.btn_card:hover {
  background-color: #f4f2ee;
  color: #bf9f60;
}

.icon_card-btn {
  width: 27px;
  height: 22px;
  background-position: -787px -5px;
  margin-top: 7px;
}

.count {
  display: inline-block;
  margin-top: 7px;
}

.icon__small-array_left,
.icon__small-array_right {
  width: 8px;
  height: 13px;
  background-position: -307px -19px;
  margin: 8px 5px 0;
  cursor: pointer;
}

.icon__small-array_right {
  background-position: -256px -19px;
}

.icon__small-array_right:hover {
  background-position: -256px -6px;
}

.icon__small-array_left:hover {
  background-position: -307px -6px;
}

.buy-area {
  padding: 24px 21px;
  background-color: #f4f2ee;
}

.buy-area_product-detail {
  margin-top: 40px;
}

.product-detail__certificate {
  margin-top: 15px;
}

.zoom-slider__image-big {
  width: 100%;
  max-height: 330px;
}

.image-big__img {
  width: 100%;
  height: 100%;
}

.image-big__zoom-btn {
  width: 80px;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 94px;
  right: 15px;
}

.image-big {
  position: relative;
}

.icon__zoom-plus {
  display: block;
  margin-top: 13px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-position: -745px -5px;
  cursor: pointer;
}

.image-list {
  margin-top: 21px;
}

.image-list__item {
  width: 21%;
  margin-right: 4.4%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.image-list__item img {
  width: 100%;
}

.image-list__item:last-of-type {
  margin-right: 0;
}

.image-list__bg {
  background-color: rgba(151, 12, 48, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.image-list__bg:hover {
  opacity: 1;
}

.slider-popular {
  margin-bottom: 30px;
  margin-top: 20px;
}

.news-compact__advantage {
  max-width: 78%;
  font-family: "Cambria", serif;
  font-size: 20px;
  color: #bf9f60;
}

.image-big_order {
  margin-top: 114px;
}

.sub-title {
  font-size: 34px;
}

.advantages-pages {
  background-color: #f4f2ee;
  border-bottom: 3px solid #d8d3cb;
  padding: 54px 0 25px;
  margin-bottom: 30px;
  position: relative;
}

.order-adnvantage__icon {
  margin: 0 auto;
  width: 100px;
  background-image: url(../img/sprite.png);
  height: 96px;
}

.order-advantage {
  display: inline-block;
  width: 23%;
  vertical-align: top;
}

.advantages {
  font-size: 0;
  text-align: center;
}

.advantages-pages__arrow {
  background-image: url(../img/sprite.png);
  background-position: -329px -97px;
  width: 79px;
  height: 32px;
  position: absolute;
  bottom: -32px;
  left: 50%;
  margin-left: -40px;
}

.order-advantage__title {
  font-size: 20px;
  font-family: "Cambria", serif;
  color: #77282a;
}

.order-adnvantage__icon_star {
  background-position: -362px 0;
}

.order-adnvantage__icon_jewel {
  background-position: -463px 0;
}

.order-advantage_small {
  padding: 0 5px;
  width: 18%;
}

.call-back-page__title {
  text-align: center;
}

.form_callback textarea {
  resize: none;
}

.form_callback {
  padding: 25px 20px;
  background-color: #f4f2ee;
  margin-bottom: 50px;
}

.form_callback__message {
  width: 100%;
  height: 130px;
  border-radius: 2px;
  border: 1px solid #D5D0C8;
  padding-left: 10px;
  padding-right: 10px;
  color: #806b6b !important;
}

.form_callback__name {
  border-radius: 2px;
  border: 1px solid #D5D0C8;
  height: 26px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #806b6b !important;
  width: 100%;
}

.form_callback__phone {
  border-radius: 2px;
  border: 1px solid #D5D0C8;
  height: 26px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #806b6b !important;
  width: 100%;
}

.btn_callback {
  width: 100%;
}

.buyer-info__h1 {
  margin-bottom: 0;
}

.buyer-info__h2 {
  margin-top: 0;
  font-size: 28px;
}

.gallery__item {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
}

.buyer-info__gallery {
  margin-top: 135px;
}

.buyer-info__text {
  margin-bottom: 40px;
}

.advantages__title {
  font-size: 28px;
  text-align: left;
  margin: 0 0 30px;
}

.buyer-info__advantages-pages {
  padding-top: 25px;
  border: none;
}

.order-adnvantage__icon_pie {
  width: 94px;
  height: 94px;
  background-position: -566px -2px;
}

.order-adnvantage__icon_cake {
  width: 69px;
  height: 94px;
  background-position: -661px -2px;
}

.order-advantage__count {
  color: #bf9f60;
  font-size: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-family: "Cambria", serif;
}

.order-advantage__title_buyer-info {
  color: #bf9f60 !important;
  margin-top: 0;
  text-transform: lowercase;
}

.license__title {
  font-size: 28px;
}

.owl-slider__img {
  border: 2px solid #F4F2EE;
  display: block;
  width: 100%;
}

.slide-item_license {
  padding: 0 15px;
}

.slick-slide {
  outline: none;
}

.slick-prev, .slick-next {
  width: 18px;
  height: 30px;
  background-image: url(../img/sprite.png);
  position: absolute;
  top: 50%;
  margin-top: -15px;
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: transparent;
}

.slick-next {
  background-position: -228px -6px;
  right: -20px;
}

.slick-next:hover {
  background-position: -189px -6px;
}

.slick-prev {
  background-position: -210px -6px;
  left: -20px;
}

.slick-prev:hover {
  background-position: -171px -6px;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.carousel__title {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.icon-answer {
  background-position: -159px -5px;
  width: 8px;
  height: 13px;
  vertical-align: baseline;
  margin-top: 2px;
}

.list_clean {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq-item__title {
  font-family: "OpenSansSemiBold", sans-serif;
  color: #77282a;
  margin-bottom: 0;
  margin-top: 20px;
}

.faq-item__text {
  margin-top: 7px;
}

.faq-item {
  border-bottom: 1px dotted #b3a6a6;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.buyer-info__faq {
  margin-top: 30px;
}

.call-back__title {
  font-size: 28px;
  color: #bf9f60;
  margin-bottom: 0;
}

.buyer-info__call-back {
  margin-top: 30px;
}

.form_callback__mail {
  border-radius: 2px;
  border: 1px solid #D5D0C8;
  height: 26px;
  margin-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  color: #806b6b !important;
  width: 100%;
}

.form_callback__phone_buyer-info {
  margin-bottom: 10px;
}

.form_callback__message_buyer-info {
  height: 156px;
}

.call-back__text {
  margin-top: 3px;
}

.fotorama__thumb-border {
  background-image: none;
}

.fotorama_product-detail .fotorama__thumb-border {
  background-color: rgba(151, 12, 48, 0.6);
}

.fotorama_buyer-info {
  margin-top: 14px;
}

.rub {
  display: inline-block;
  border-bottom: 2px solid;
  line-height: 0;
  width: 20px;
  height: 5px;
}

.slider .rub {
  width: 16px;
  height: 4px;
}
