/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top-menu__link {
		padding: 0 8px;
	}
	.panel {
		padding: 10px 50px 40px;
	}
	.panel p {
		margin-top: 0;
	}
	.footer__category {
		width: 91%;
	}
	.action {
		padding: 15px;
	}
	.decorate__title {
		margin-bottom: 13px;
		margin-top: 10px;
	}
	.menu__bottom {
		width: 74.8%;
	}
	.image-list__item {
		margin-right: 4.3%;
	}
	.panel_descr {
		padding-bottom: 20px;
	}
	.news-compact__advantage {
		max-width: 83%;
	}
	.order-advantage {
		width: 24%;
	}
	.order-advantage_small {
		width: 17%;
	}
	.gallery__item:nth-of-type(3n) {
		margin-right: 0;
	}
	.gallery__item {
		margin-right: 5px;
	}
	.panel_catalog {
		padding: 0 15px 20px;
	}
	.one-catalog-product__add-info {
		padding: 15px 10px;
	}
	.one-catalog-product__price {
		right: 10px;
	}
	.hover-info__button {
		padding: 0;
	}
	.hover-info__description {
		margin: 5px 0 0;
	}
	.hover-info__add-info {
		padding: 0 10px;
	}
	.hover-info__main {
		font-size: 13px;
	}
	.tab {
		margin: 0 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.cart__text,
	.header__fixed .compare__text {
		display: none;
	}
	.user-info > div {
		margin-left: 40px;
	}
	.header__fixed .compare .icon,
	.cart .icon {
		margin-right: -2px;
	}
	.menu__bottom {
		width: 100%;
	}
	.menu__top {
		width: 60%;
	}
	.top-menu__link {
		padding: 0;
		margin-right: 70px;
	}
	.action {
		margin-top: 30px;
	}
	.slider__title {
		width: 100%;
		text-align: center;
	}
	.company-now {
		margin-top: 30px;
	}
	.footer__category {
		width: 100%;
	}
	.menu__right {
		float: left;
		width: 100%;
		padding: 0;
	}
	.footer__category .menu__item {
		width: 200px;
	}
	.footer__category {
		width: 84%;
	}
	.copyright {
		display: none;
	}
	.company-now h2,
	.news__title {
		text-align: center;
	}
	.news {
		margin-top: 30px;
	}
	.footer {
		padding-bottom: 30px;
	}
	.product-detail__zoom-slider {
		margin-top: 30px;
	}
	.image-list__item {
		margin-right: 4.8%;
	}
	.slider-popular {
		margin-top: 30px;
	}
	.news-compact__advantage {
		max-width: 62%;
	}
	.image-big_order {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.buyer-info__gallery {
		margin-top: 30px;
	}
	.buyer-info__h2 {
		margin-bottom: 30px;
	}
	.gallery__item:nth-of-type(3n) {
		margin-right: 9px;
	}
	.gallery__item:nth-of-type(7n) {
		margin-right: 0;
	}
	.gallery__item {
		margin-right: 9px;
	}
	.carousel_license {
		margin: 0 15px;
	}
	.buyer-info__call-back {
		background-color: #f4f2ee;
		padding-top: 20px;
	}
	.form_callback {
		padding: 0;
	}
	.one-catalog-product:hover .one-catalog-product__hover-info {
		display: none;
	}
	.block__to {
		float: none;
		margin-left: 10px;
	}
	.fotorama_product-detail {
		margin-bottom: 30px;
	}
	.image-big__zoom-btn {
		display: none;
	}
	.form_callback {
		background-color: transparent;
	}
	.form_callback__name {
		margin-top: 7px;
	}
	.payment-advantage_small {
		width: 17%;
	}
	.news__item {
		width: -webkit-calc(33% - 30px);
		width: calc(33% - 30px);
	}
	.article_market {
		margin-bottom: 30px;
	}
	.menu-item_control {
		margin-left: 30px;
	}
	.menu-item_control_short {
		margin-left: 15px;
	}
	.table__head {
		display: none;
	}
	.sum__text,
	.sum__cost {
		text-align: right;
		display: block;
	}
	.table_order .row {
		line-height: 3;
	}
	.sum__text,
	.sum__cost {
		line-height: 40px;
	}
	.col_center {
		text-align: right;
	}
	.cabinet-head__title-info {
		margin-top: 0;
		margin-bottom: 15px;
		clear: both;
	}
	.col_mobile {
		clear: both;
	}
	.table_checkout .col-sm-4 {
		text-align: right;
	}
	.table_checkout .col-sm-3 {
		text-align: center;
	}
	.table_order-list .table__head {
		display: block;
	}
	.table_order-list .row > div {
		padding: 0 3px;
	}
	.search__input_compact {
		margin-left: 10px;
	}
	.btn_size_s {
		padding-left: 10px;
		padding-right: 10px;
	}
	.menu-list__text_md {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.news-compact__mark {
		left: 10%;
	}
	.slider__link:hover {
		opacity: 0;
	}
	.user-info > div {
		margin-left: 19px;
	}
	.front-page {
		padding-bottom: 0;
	}
	.front-content {
		margin-top: 0;
	}
	.bot-menu__link {
		padding-right: 0;
		padding-left: 13.5%;
	}
	.footer__social,
	.footer__h2o {
		text-align: center;
	}
	.footer {
		padding-bottom: 10px;
	}
	.search__button {
		float: right;
	}
	.footer__info p {
		margin: 0;
	}
	.footer__menu .menu__item {
		margin: 0 0 3px;
	}
	.footer__search {
		margin-top: 15px;
	}
	.footer__search .search__input {
		padding: 20px 30px;
	}
	.footer__search .search__button {
		right: 31px;
		top: 31px;
	}
	.footer__category {
		width: 100%;
	}

	.image-list__item {
		margin-right: 4.7%;
	}
	.news-compact__advantage {
		max-width: 100%;
	}
	.order-advantage {
		width: 100%;
		text-align: left;
		margin-bottom: 15px;
	}
	.order-advantage__title {
		display: block;
		vertical-align: top;
		font-size: 24px;
		margin-left: 140px;
		line-height: 30px;
	}
	.order-adnvantage__icon {
		float: left;
		margin-left: 0;
	}
	.gallery__item:nth-of-type(7n) {
		margin-right: 9px;
	}
	.gallery__item {
		margin-right: 9px;
	}
	.order-advantage__count {
		margin-left: 140px;
	}
	.show-count {
		float: none;
	}
	.sort-by {
		float: none;
		margin-bottom: 10px;
	}
	.one-catalog-product {
		width: 45%;
	}
	.one-catalog-product:nth-of-type(3n),
	.one-catalog-product {
		margin-right: 10%;
	}
	.one-catalog-product:nth-of-type(2n) {
		margin-right: 0;
	}
	.pagination__button {
		display: none;
	}
	.pagination__list {
		display: block;
		text-align: center;
	}
	.pagination-page__link {
		width: 40px;
		height: 40px;
		line-height: 38px;font-size: 18px;
	}
	.panel__mark_catalog {
		top: -29px;
	}
	.news__item {
		width: -webkit-calc(50% - 30px);
		width: calc(50% - 30px);
	}
	.one-news__caption {
		min-height: auto;
	}
	.pagination__lonely_next {
		float: right;
	}
	.title-date {
		float: none;
		margin-top: 0;
		display: block;
		margin-bottom: 20px;
	}
	.article-title {
		margin-bottom: 0;
	}
	.pagination__lonely_prev {
		margin-right: 0;
	}
	.panel_list__item {
		width: 33%;
	}
	.menu-list__text {
		display: none;
	}
	.menu-item_control {
		margin-left: 20px;
	}
	.menu-item_control_short {
		margin-left: 10px;
	}
	.table_order .row {
		margin-bottom: 10px;
	}
	.order-list__desktop {
		display: none;
	}
	.table_order-list {
		font-size: 13px;
		line-height: 30px;
	}
	.order-list__search {
		float: none;
	}
	.col-xs-hidden {
		display: none;
	}
	.table_order-list .row >div:nth-child(2) {
		text-align: center;
	}
	.table_order-list .row {
		padding: 5px 0 10px;
	}
	.btn_size_s {
		margin-top: 15px;
		width: 45%;
		padding: 0;
		line-height: 1.7;
	}
	.btn_size_s:nth-child(2) {
		margin-left: 10% !important;
	}
	.fixed__left_full-xs {
		display: block;
		width: 100%;
		float: none;
		font-size: 0;
	}
	.menu-item_control_small {
		margin-left: 3px;
	}
	.search__input_compact {
		font-size: 14px;
	}
	.btn_icon_compact {
		margin-top: -8px;
	}
	.roll_hidden_sm {
		display: none;
	}
	.roll {
		margin-left: 10px;
	}
	.roll_down {
		margin-left: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) {
	.image-list__item {
		margin-right: 4.5%;
	}
	.menu__top .menu__item {
		width: 100%;
	}
	.menu__top {
		width: 48%;
		float: left;
		margin-left: 10px;
	}
	.top-menu__link {
		margin-right: 0;
		height: 34px;
		line-height: 32px;
	}
	.menu__item:last-child .top-menu__link {
		border-bottom: 0;
		height: 32px;
	}

	.fixed__search .search__input {
		width: 0;
	}
	.bot-menu__link {
		padding: 0;
		height: 50px;
		line-height: 50px;
	}
	.menu__bottom .menu__item {
		display: inline-block;
		float: none;
		margin-right: 20px;
		margin-left: 20px;
		width: auto;
	}
	.menu__bottom {
		text-align: center;
	}
	.menu__bottom .menu__item:nth-child(3) .menu__link {
		padding: 0;
	}
	.fixed__search {
		position: absolute;
		background-color: #f4f2ee;
	}
	.search__button {
		right: -42px;
	}
	.slide_testimonials {
		font-size: 18px;
	}
	.product-detail__compare {
		margin-right: 20px;
	}
	.company-now h2 {
		line-height: 36px;
	}
	.tab {
		margin: 0 10px;
	}
	.form-area__text {
		display: block;
		float: none;
		width: 100%;
	}
	.btn_mask {
		float: none;
		margin-top: 15px;
	}
	.file-name {
		text-align: left;
		margin-left: 2px;
		margin-top: 5px;
		margin-bottom: 24px;
	}
	.custom-file-input {
		left: 0;
		top: auto;
		bottom: 15px;
	}
	.file-name {
		float: right;
		width: calc(100% - 150px);
		margin-top: 25px;
	}
	.mask-wrapper {
		padding-bottom: 15px;
	}
	.date_right {
		float: none;
		display: block;
	}
	.payment-advantage {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	.payment-advantages {
		margin-top: 20px;
	}
	.payment__header {
		margin-top: 10px;
	}
	.market-info .col-xs-4 {
		width: 100%;
		text-align: center;
	}
	.table_order .row > .col-sm-11 {
		line-height: 2;
	}
	.cabinet_link {
		margin-right: 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
	.footer .col-xs-6	{
		width: 100%;
		text-align: center;
	}
	.footer__menu,
	.footer__category {
		display: none;
	}
	.footer {
		padding-top: 20px;
	}
	.footer__search {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.footer__search .search__button {
		right: 92px;
	}
	.footer__search .search__input {
		padding: 20px 15px;
	}
	.slider-popular .slider__title h2 {
		font-size: 24px;
		line-height: 26px;
	}
	.one-catalog-product__price {
		font-size: 22px;
	}
	.one-catalog-product__price .rub {
		border-width: 1px;
		width: 12px;
	}
	.tab {
		display: block;
		display: none;
		margin-left: 0;
		padding-bottom: 2px;
	}
	.wrapper .active {
		display: block;
	}
	.tabs {
		border: none;
		margin-left: 20px;
	}
	.payment-advantage {
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		-o-transform: scale(0.6);
		transform: scale(0.6);
	}
	.panel_list__item {
		width: 50%;
	}
	.input {
		padding-left: 8px;
		padding-right: 10px;
	}
	.roll_hidden_sm {
		display: inline;
	}
	.roll-group {
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 3px solid #77282a;
		margin-bottom: 15px;
	}
	.roll_up {
		margin-left: 50px;
	}
	.header__cabinet {
		text-align: center;
		line-height: 50px;
		margin-top: 15px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.mobile-menu_bottom {
		display: block;
	}
	.decorate__descr {
		padding: 0 15px;
	}
	.main-slider {
		display: none;
	}
	.action {
		margin-top: 0;
	}
	.btn_testimonials {
		padding: 0 40px;
	}
	.panel {
		padding: 10px 20px 40px;
	}
	.btn {
		padding: 0 20px;
	}
	.slider__img {
		width: 250px !important;
		height: 170px !important;
	}
	.slider__link {
		height: 170px !important;
	}
	.registration__text,
	.login__text,
	.user-info__auth .divide {
		display: none;
	}
	.user-info > div {
		margin-left: 20px;
	}
	.footer__search {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.footer__search .search__button {
		right: 31px;
	}
	.mobile-menu__button {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}
	.menu {
		display: none;
	}
	.user-info__auth {
		margin: 0;
	}
	.user-info > div {
		margin-left: 9px;
	}
	.menu__logo {
		text-align: center;
		width: 100%;
		background-color: #77282a;
	}
	.menu__bottom {
		padding-left: 0;
	}
	.menu__bottom .menu__item {
		display: block;
		width: 100%;
		text-align: left;
	}
	.menu__bottom {
		margin: 15px 0;
	}
	.menu__bottom .menu {
		background-color: #f4f2ee;
	}
	.menu__bottom {
		overflow: hidden;
	}
	.image-list__item {
		margin-right: 4%;
	}
	.item-title {
		display: block;
		max-width: 100%;
		margin-bottom: 35px;
	}
	.product-detail__compare {
		float: none;
		margin-left: 25px;
	}
	.product-detail__main-price {
		float: none;
	}
	.panel_descr {
		margin-top: 35px;
	}
	.panel__mark_top {
		top: 108px;
	}
	.panel_descr {
		padding-bottom: 10px;
	}
	.btn_card {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.count {
		display: block;
		text-align: center;
		margin-left: 5px;
		margin-bottom: 15px;
	}
	.order-advantage__title {
		display: block;
		vertical-align: top;
		font-size: 20px;
		margin-left: 0px;
		line-height: 24px;
		text-align: center;
	}
	.order-adnvantage__icon {
		float: none;
		margin-left: auto;
	}
	.main-content h1 {
		font-size: 26px;
	}
	.sub-title {
		font-size: 24px;
	}
	.news-compact__advantage {
		font-size: 18px;
	}
	.order-advantage__count {
		display: block;
		vertical-align: top;
		margin-bottom: 10px;
		margin-top: 20px;
		margin-left: 0px;
		line-height: 24px;
		text-align: center;
	}
	.advantages__title {
		font-size: 22px;
		text-align: center;
	}
	.main-content h2 {
		font-size: 22px;
		line-height: 1.1;
	}
	.one-catalog-product {
		width: 290px;
	}
	.one-catalog-product {
		margin: 0 auto 30px !important;
		display: block;
		float: none;
	}
	.panel_catalog {
		padding: 0 10px 20px;
	}
	.main-content_strip {
		border: none;
	}
	.sort-by__list {
		display: block;
		margin-left: 13px;
		margin-top: 3px;
	}
	.panel_relative {
		border: 0;
		padding: 0;
	}
	.mark_top_fix {
		display: none;
	}
	.handle-label {
		height: 80px;
	}
	.labeled-checkbox_double {
		width: 100%;
		display: block;
	}
	.tabs {
		font-size: 0;
	}
	.tab {
		margin: 0;
		width: 50%;
		text-align: center;
		display: inline-block;
		font-size: 15px;
	}
	.file-name {
		width: calc(100% - 130px);
	}
	.handle-label,
	.comment_order {
		padding: 5px 10px;
	}
	.btn_block {
		margin-top: 10px;
	}
	.big-testimonials__title {
		line-height: 1.1;
		margin-bottom: 10px;
	}
	.big-testimonials__subtitle {
		line-height: 1.1;
	}
	.payment-advantage {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	.payment-advantages {
		margin-top: 0px;
	}
	.payment__header {
		margin-top: 0px;
	}
	.news__item {
		width: -webkit-calc(100% - 30px);
		width: calc(100% - 30px);
	}
	.main-content h1 {
		line-height: 1.1;
	}
	.article-title {
		margin-bottom: 5px;
	}
	.pagination__btn {
		margin: 25px auto 0;
		display: block;
	}
	.widget_place-list {
		width: 100%;
	}
	.fotorama.article__fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
		padding: 8px;
	}
	.director-block > div {
		width: 100%;
	}
	.panel_list__item {
		width: 100%;
	}
	.panel_list {
		border: none;
		margin: 15px 0;
		padding: 0;
	}
	.manager-orders__body {
		margin-bottom: 70px;
	}
	.search__input_secret {
		display: none;
	}
	.fixed__left,
	.fixed__right {
		line-height: 50px;
	}
	.input {
		line-height: 1.5;
	}
	.menu-item_control {
		margin-left: 15px;
	}
	.menu-item_control_short {
		margin-left: 15px;
	}
	.panel_list {
		display: none;
		background-color: #f4f2ee;
		margin: 0;
	}
	.manager-orders__body {
		margin-top: 20px;
	}
	.panel_list__item {
		font-size: 15px;
		padding: 5px 20px 7px;
	}
	.table_order .row > div {
		padding: 0;
	}
	.table_order .row > .col-sm-11 {
		line-height: 1.5;
		margin-left: 15px;
	}
	.cabinet_link {
		margin-right: 5px;
		font-size: 13px;
		padding: 3px 0;
	}
	.cabinet-head__title {
		margin-top: 30px;
	}
	.cabinet-head {
		margin-top: 0;
	}
	.checkout__footer {
		text-align: center;
	}
	.btn_pay {
		margin-top: 15px;
		margin-left: 0;
		width: 100%;
	}
	.table_order .product-count {
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
	.price_one {
		display: block;
		width: 90px;
	}
	.table_order-list .row {
		padding-bottom: 10px;
	}
	.modal__inner {
		padding: 10px;
		margin: 0;
	}
	.panel_modal .panel__mark {
		display: none;
	}
	.modal .close {
		top: 0;
		right: 20px;
		color: #bf9f60;
	}
	.panel_modal {
		padding: 10px 30px 20px;
	}
	.btn_size_s {
		font-size: 14px;
	}
	.search__input_compact {
		display: inline-block;
	}
	.fixed__right_mobile {
		line-height: 70px;
	}
	.table_half .row {
		padding: 3px;
		font-size: 13px;
	}
	.table_half .row > .col-md-9 {
		padding: 0 3px;
	}
	.table_half .row > .col-md-1 {
		text-align: right;
		line-height: 1;
	}
	.tabs {
		margin-left: 10px;
	}
	.tab {
		width: auto;
	}
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
	.director-block__info {
		margin-top: -5px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 520px) {
	.event-button {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.right-padding-none {
		padding-right: 0;
	}
	.md-non-padding {
		padding: 0;
	}
	.carousel-expand {
		padding: 0;
	}
	.carousel__title {
		padding: 0 15px
	}
	.order-list__mobile {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.copyright_mobile,
	.order-label_mobile {
		display: none;
	}
	.table_order .col-md-1,
	.table_order .col-md-2 {
		padding: 0;
		text-align: center;	
	}
	.cabinet-head__title-info {
		float: right;
		margin-top: 59px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.menu__item:hover .submenu {
		display: block
	}
	.gallery__item:nth-of-type(3n)
	{
		margin-right: 0
	}
}