/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top-menu__link {
		padding: 0 8px;
	}
	.panel {
		padding: 10px 50px 40px;
	}
	.panel p {
		margin-top: 0;
	}
	.footer__category {
		width: 91%;
	}
	.action {
		padding: 15px;
	}
	.decorate__title {
		margin-bottom: 13px;
		margin-top: 10px;
	}
	.menu__bottom {
		width: 74.8%;
	}
	.image-list__item {
		margin-right: 4.3%;
	}
	.panel_descr {
		padding-bottom: 20px;
	}
	.news-compact__advantage {
		max-width: 83%;
	}
	.order-advantage {
		width: 24%;
	}
	.order-advantage_small {
		width: 17%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.cart__text,
	.header__fixed .compare__text {
		display: none;
	}
	.user-info > div {
		margin-left: 40px;
	}
	.header__fixed .compare .icon,
	.cart .icon {
		margin-right: -2px;
	}
	.menu__bottom {
		width: 100%;
	}
	.menu__top {
		width: 60%;
	}
	.top-menu__link {
		padding: 0;
		margin-right: 70px;
	}
	.action {
		margin-top: 30px;
	}
	.slider__title {
		width: 100%;
		text-align: center;
	}
	.company-now {
		margin-top: 30px;
	}
	.footer__category {
		width: 100%;
	}
	.menu__right {
		float: left;
		width: 100%;
		padding: 0;
	}
	.footer__category .menu__item {
		width: 200px;
	}
	.footer__category {
		width: 84%;
	}
	.copyright {
		display: none;
	}
	.company-now h2,
	.news__title {
		text-align: center;
	}
	.news {
		margin-top: 30px;
	}
	.footer {
		padding-bottom: 30px;
	}
	.product-detail__zoom-slider {
		margin-top: 30px;
	}
	.image-list__item {
		margin-right: 4.8%;
	}
	.slider-popular {
		margin-top: 30px;
	}
	.news-compact__advantage {
		max-width: 62%;
	}
	.image-big_order {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.news-compact__mark {
		left: 10%;
	}
	.slider__link:hover {
		opacity: 0;
	}
	.user-info > div {
		margin-left: 19px;
	}
	.front-page {
		padding-bottom: 0;
	}
	.front-content {
		margin-top: 0;
	}
	.bot-menu__link {
		padding-right: 0;
		padding-left: 13.5%;
	}
	.footer__social,
	.footer__h2o {
		text-align: center;
	}
	.footer {
		padding-bottom: 10px;
	}
	.search__button {
		float: right;
	}
	.footer__info p {
		margin: 0;
	}
	.footer__menu .menu__item {
		margin: 0 0 3px;
	}
	.footer__search {
		margin-top: 15px;
	}
	.footer__search .search__input {
		padding: 20px 30px;
	}
	.footer__search .search__button {
		right: 31px;
		top: 31px;
	}
	.footer__category {
		width: 100%;
	}

	.image-list__item {
		margin-right: 4.7%;
	}
	.news-compact__advantage {
		max-width: 100%;
	}
	.order-advantage {
		width: 100%;
		text-align: left;
		margin-bottom: 15px;
	}
	.order-advantage__title {
		display: block;
		vertical-align: top;
		font-size: 24px;
		margin-left: 140px;
		line-height: 30px;
	}
	.order-adnvantage__icon {
		float: left;
		margin-left: 0;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px) {
	.image-list__item {
		margin-right: 4.5%;
	}
	.menu__top .menu__item {
		width: 100%;
	}

	.menu__top {
		width: 48%;
		float: left;
		margin-left: 10px;
	}
	.top-menu__link {
		margin-right: 0;
		height: 34px;
		line-height: 32px;
	}
	.menu__item:last-child .top-menu__link {
		border-bottom: 0;
		height: 32px;
	}

	.fixed__search .search__input {
		width: 0;
	}
	.bot-menu__link {
		padding: 0;
		height: 50px;
		line-height: 50px;
	}
	.menu__bottom .menu__item {
		display: inline-block;
		float: none;
		margin-right: 20px;
		margin-left: 20px;
		width: auto;
	}
	.menu__bottom {
		text-align: center;
	}
	.menu__bottom .menu__item:nth-child(3) .menu__link {
		padding: 0;
	}
	.fixed__search {
		position: absolute;
		background-color: #f4f2ee;
	}
	.search__button {
		right: -42px;
	}
	.slide_testimonials {
		font-size: 18px;
	}
	.product-detail__compare {
		margin-right: 20px;
	}
	.company-now h2 {
		line-height: 36px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
	.footer .col-xs-6	{
		width: 100%;
		text-align: center;
	}

	.footer__menu,
	.footer__category {
		display: none;
	}
	.footer {
		padding-top: 20px;
	}
	.footer__search {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.footer__search .search__button {
		right: 92px;
	}
	.footer__search .search__input {
		padding: 20px 15px;
	}
	.slider-popular .slider__title h2 {
		font-size: 24px;
		line-height: 26px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.mobile-menu_bottom {
		display: block;
	}
	.decorate__descr {
		padding: 0 15px;
	}
	.main-slider {
		display: none;
	}
	.action {
		margin-top: 0;
	}
	.btn_testimonials {
		padding: 0 40px;
	}
	.panel {
		padding: 10px 20px 40px;
	}
	.btn {
		padding: 0 20px;
	}
	.slider__img {
		width: 250px !important;
		height: 170px !important;
	}
	.slider__link {
		height: 170px !important;
	}
	.registration__text,
	.login__text,
	.user-info__auth .divide {
		display: none;
	}
	.user-info > div {
		margin-left: 20px;
	}
	.footer__search {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.footer__search .search__button {
		right: 31px;
	}
	.mobile-menu__button {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}
	.menu {
		display: none;
	}
	.user-info__auth {
		margin: 0;
	}
	.user-info > div {
		margin-left: 9px;
	}
	.menu__logo {
		text-align: center;
		width: 100%;
		background-color: #77282a;
	}
	.menu__bottom {
		padding-left: 0;
	}
	.menu__bottom .menu__item {
		display: block;
		width: 100%;
		text-align: left;
	}
	.menu__bottom {
		margin: 15px 0;
	}
	.menu__bottom .menu {
		background-color: #f4f2ee;
	}
	.menu__bottom {
		overflow: hidden;
	}
	.image-list__item {
		margin-right: 4%;
	}
	.item-title {
		display: block;
		max-width: 100%;
		margin-bottom: 35px;
	}
	.product-detail__compare {
		float: none;
		margin-left: 25px;
	}
	.product-detail__main-price {
		float: none;
	}
	.panel_descr {
		margin-top: 35px;
	}
	.panel__mark_top {
		top: 112px;
	}
	.panel_descr {
		padding-bottom: 10px;
	}
	.btn_card {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.count {
		display: block;
		text-align: center;
		margin-left: 5px;
		margin-bottom: 15px;
	}
	.order-advantage__title {
		display: block;
		vertical-align: top;
		font-size: 20px;
		margin-left: 0px;
		line-height: 24px;
		text-align: center;
	}
	.order-adnvantage__icon {
		float: none;
		margin-left: auto;
	}
	.main-content h1 {
		font-size: 26px;
	}
	.sub-title {
    font-size: 24px;
	}
	.news-compact__advantage {
		font-size: 18px;
	}
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.right-padding-none {
		padding-right: 0;
	}
	.md-non-padding {
		padding: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.copyright_mobile {
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.menu__item:hover .submenu {
		display: block
	}
}